<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->

<!-- Mirrored from rollthemes.com/demo/html/besmart/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 31 Jul 2015 12:43:58 GMT -->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>CANTHOWACO - Công ty câp nước Cần Thơ</title>
    <meta name="description" content="BeSmart is multipurpose Twitter Bootstrap 3 template which is suitable for type of Courses, Training, Events, Online Learning System and other sites related to education. It also can be used for any other site.">
    <meta name="keywords" content="multipurpose, Courses, clean, twitter bootstrap 3, responsive">
    <meta name="author" content="Rollthemes.com">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css" >
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">
	<!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/animate.css">
    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/colors/color1.css" id="colors">

    <!-- Google Fonts -->
    @*<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>*@
    <!-- Google Fonts -->
    @*<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>*@

    <!-- Favicon and touch icons  -->
    <link href="~/Content/icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="~/Content/icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="~/Content/icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="~/Content/icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="~/Content/images/logo.jpg" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="~/Content/javascript/html5shiv.js"></script>
        <script src="~/Content/javascript/respond.min.js"></script>
    <![endif]-->
</head>

<body class="header-sticky home">
    <div class="loader">
      <span class="loader1 block-loader"></span>
      <span class="loader2 block-loader"></span>
      <span class="loader3 block-loader"></span>
    </div>

    @RenderBody()

	<!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Javascript -->
    <script type="text/javascript" src="~/Content/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/javascript/jquery.easing.js"></script>

    <script type="text/javascript" src="~/Content/javascript/jquery.sticky.js"></script>

    <script type="text/javascript" src="~/Content/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/Content/javascript/owl.carousel.js"></script>
   <script type="text/javascript" src="~/Content/javascript/jquery.bxslider.js"></script>

    <script type="text/javascript" src="~/Content/javascript/imagesloaded.min.js"></script>
    <script type="text/javascript" src="~/Content/javascript/jquery.isotope.min.js"></script>

    <script type="text/javascript" src="~/Content/javascript/jquery-countTo.js"></script>

    <script type="text/javascript" src="~/Content/javascript/jquery.easypiechart.min.js"></script>

    <script type="text/javascript" src="~/Content/javascript/jquery-waypoints.js"></script>

    <script type="text/javascript" src="~/Content/javascript/parallax.js"></script>
    
    <script type="text/javascript" src="~/Content/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/javascript/switcher.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Content/javascript/gmap3.min.js"></script>    
    <script type="text/javascript" src="~/Content/javascript/jquery.tweet.min.js"></script>
    <script type="text/javascript" src="~/Content/javascript/main.js"></script>

</body>

<!-- Mirrored from rollthemes.com/demo/html/besmart/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 31 Jul 2015 13:00:05 GMT -->
</html>