
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<NienLuan2.Models.NHANVIEN>
<head>
    <title>Công ty cấp nước Cần Thơ</title>
    <!-- Bootstrap core CSS-->
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/Content/css/sb-admin.css" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">Đăng nhập</div>
                <div class="card-body">
                    <form action="/DangNhap/DangNhap" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" name="maNhanVien" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                                <label for="inputEmail">Mã Nhân viên</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" name="matKhau" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                <label for="inputPassword">Mật khẩu</label>
                            </div>
                        </div>
                        <span style="color:red">@ViewBag.message</span>
                        <div class="form-group">
                            <div class="checkbox">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="/Content/vendor/jquery/jquery.min.js"></script>
        <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <div class="col-md-7">
            <div class="card">
                <div class="card-header"  style="color:red">
                    <i class="fa fa-info-circle"></i>
                    <sqan>  Tài khoản bạn không có quyền truy cập vào trang này, vui lòng đăng nhập tài khoản có quyền sử dụng chức năng này hoặc liên hệ với người quản trị.</sqan>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</div>
