@using NienLuan2.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" />
<title>Công ty cấp nước Cần Thơ</title>
<div class="container-fluid">
        <div class="box">
            <div class="card-header">
                <i class="fas fa-table"></i>
                THỐNG KÊ CHỈ SỐ NƯỚC TIÊU THỤ
            </div>
            <div class="card-header">
                <input type="hidden" class="LoiKhoaNgoai" value="@ViewBag.Loi" />
                @Html.DropDownList("KYGHI_MA", ViewBag.kyghi as SelectList, "Chọn Kì Ghi", new { @style = "border:1px solid silver; background: white;", @class = "btn btn-default", @required = "required" })
                @Html.DropDownList("LT_MA", ViewBag.Ltrinh as SelectList, "Chọn Lộ Trình", new { @style = "border:1px solid silver; background: white;", @class = "btn btn-default", @required = "required" })
                <input type="submit" id="thongke" class="btn btn-primary" value="Chọn" />
                @*- &nbsp;<a class="btn btn-primary" @Html.ActionLink("Thống kê tổng hợp theo năm", "PTCSN_NAM", "PhieuThu", null, new { @class = "btn btn-sucesss" })</a>*@
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblChiSoNuoc" class="table table-bordered table-hover">
                            <tbody></tbody>
                        </table>
                        <div style="font-weight: bold; float: right">Tổng Chỉ Số Nước Tiêu Thụ: <strong id="demo"></strong></div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#thongke').click(function () {
            $("#tblChiSoNuoc tbody tr").remove();
            $.ajax({
                type: 'GET',
                url: "/PhieuThu/GetPTCSN",
                dataType: 'json',
                data: { id: $('#KYGHI_MA').val(), ltrinh: $('#LT_MA').val() },
                success: function (data) {
                    var items = '';
                    console.log(data);
                    var rows = "<tr>"
                        + "<th align='left' class='ChiSoNuocTableTH'>Mã KH</th><th align='left' class='ChiSoNuocTableTH'>Tên Nhân Viên</th><th align='left' class='ChiSoNuocTableTH'>Tiêu Thụ</th>"
                        + "</tr>";
                    $('#tblChiSoNuoc tbody').append(rows);

                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td class='ChiSoNuocTableTD'>" + item.KH_MA + "</td>"
                            + "<td class='ChiSoNuocTableTD'>" + item.NV_HOTEN + "</td>"
                            + "<td class='ChiSoNuocTableTD'>" + item.CSN_TIEUTHU + "</td>"
                            + "</tr>";
                        $('#tblChiSoNuoc tbody').append(rows);
                        document.getElementById("demo").innerHTML = item.TONG_TIEN;
                    });
                },
                error: function (ex) {

                }
            });
            return false;
        });
    });
</script>


